.achiev-article
{
    background-color:var(--ion-card-background);
    width:100%;
    height:100%;
    max-width:calc(var(--article-content-width)/5*4);
    padding:2em;
}

app-contact-form
{
    width:calc(var(--article-content-width)/2);
}

.gallery-placeholder
{
    //background-color: salmon;
    //height:12em;
    //width: 12em;
    margin:1em;
    border-radius: 1em;
    overflow:hidden;
}

.date
{
    display:block;
    //background-color: red;
    font-size: 0.8em;
    text-align:center;
    color: var(--ion-color-medium);
    width:100%;
}

.tag-list
{
    display:flex;
    flex-wrap:wrap;
}