<div class="main-container">
  <ion-card>
    <ion-card-content>
      <ion-card-title class="big">Let's get in touch!</ion-card-title>
      <div class="inline-input-container">
        <ion-input label="Name" name="name"></ion-input>
        <ion-input label="Surename" name="surename"></ion-input>
        <ion-input label="Email" name="email"></ion-input>
        <div class="comp-tel-field">
          
          <div class="prefix-field-plus">
            +
            <ion-input class="prefix-field" placeholder="000" name="prefix"></ion-input>
          </div>
          <!---
          <ion-input class="tel-field" placeholder="0000000000" name="tel"></ion-input-->
        </div>
      </div>
      <ion-textarea label="Message"></ion-textarea>
    </ion-card-content>
  </ion-card>
</div>