*
{
    --contact-title-size:var(--big-title-size);
}

.main-container
{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2em;
}

ion-card
{
    margin:0;
    width:100%;
    max-width:var(--article-content-width);
}

.not-so-big
{
    font-size:1.5em;
    font-weight: 700;
    color:var(--ion-color-primary)
}

.comp-tel-field
{
    display:flex;
    align-items: center;
    justify-content: top;
    gap:0.5em;
}

.prefix-field-plus
{
    display:flex;
    align-items: center;
    justify-content: top;
}
.prefix-field
{
    width:1.75em;
}

.field-title
{
    display:flex;
    align-items:center;
    justify-content: end;
    color:var(--ion-color-dark);
    font-weight:550;
}

ion-button
{
    float:right;
}