<div class="main-container">
  <div class="navbar">
    <ion-buttons>
      <ion-button>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
      <ion-button href="https://www.instagram.com/joshburger196">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button href="https://www.linkedin.com/in/joshua-alessandro-terranova-687459208/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</div>
