.main-container
{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1em;
}

.navbar
{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1em;
    height: 3em;
    border-radius: 1.5em;
    background-color: var(--ion-color-primary);
}