#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .about-me-parent-container
  {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    min-height:calc(var(--article-content-width)/3*2);
    height:32rem;
  }
  
  .about-me-center-container
  {
    --gap:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap);
    margin:2rem;
    flex-wrap:wrap;
    width:var(--article-content-width);
  }
  
  .about-me
  {
    max-width:calc(var(--article-content-width)/2 - var(--gap)/2);
  
    //overflow:wrap;
  }
  
  .about-me-text
  {
    display:block;
    text-align: justify;
  }
  
  .pfp
  {
    min-width:12rem;
    max-width:calc(var(--article-content-width)/2 - var(--gap)/2);
    border-radius:1rem;
    overflow: hidden;
  }