<ion-card [href]="'/'+achievement?.pageUrl">
  <ion-img alt="img not found?" [src]="achievement?.imgUrl"></ion-img>
  <ion-card-header>
    <ion-card-title>{{achievement?.title}}</ion-card-title>
    <ion-card-subtitle>
      {{achieverString}}<br />
      <small>{{achievement?.startDate | date:"y"}} - {{achievement?.endDate | date:"y"}}</small>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="cutoff-text">
    {{achievement?.desc}}
    <div class="desc-fade-gradient"></div>
  </ion-card-content>
  <div class="read-more-btn">
    <ion-button fill="clear" color="tertiary">Read more</ion-button>
  </div>
</ion-card>