/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "theme/variables.scss";

//big global variable
* {
  --article-content-width:48em;
  --big-title-size:2em;
  --ion-color-medium-transparent: rgba(var(--ion-color-medium-rgb), 0.5);
  --ion-color-light-transparent: rgba(var(--ion-color-light-rgb), 0.5);
}

ion-button{
    text-transform: none;
}

ion-title{
  white-space: normal!important;
  text-align:center;
  position:relative; //solves position bug on ios
  padding:0; //solves problem on ios
}

ion-card
{
  border-radius:1em;
}

.big
{
  font-size:var(--big-title-size);
  font-weight: 700;
  color:var(--ion-color-primary);
}

.flex-container
{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}


//Animations
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-fade-tertiary {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade-tertiary:hover, .hvr-fade-tertiary:focus, .hvr-fade-tertiary:active {
  background-color: var(--ion-color-tertiary)!important;
  color: white;
}